@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

@{
    var username = User.FindFirst(ClaimTypes.Name)?.Value;
    var userid = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

@if (username is not null)
{
    <div class="container">
        <div class="row d-block">
            <div class="col">
                <h2>Чат в реальном времени</h2>
                <div id="connectionStatus" style="color: green;">Соединение установлено</div>
                <div class="form-group">
                    <label for="userInput">Ваше имя: @username</label>
                    <input type="hidden" id="userId" value="@userid"></input>
                    <input type="hidden" id="userInput" class="form-control" value="@username"/>
                </div>
                <div class="form-group d-flex align-items-end gap-2">
                    <div class="flex-grow-1">
                        <label for="messageInput">Сообщение:</label>
                        <input type="text" id="messageInput" class="form-control"/>
                    </div>
                    <div>
                        <label>&nbsp;</label> <!-- чтобы выровнять по нижнему краю -->
                        <button id="sendButton" class="btn btn-primary d-block">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-8">
                <h3>Общий чат</h3>
                <div id="typingIndicator" style="display: none; font-style: italic; color: #888;"></div>
                <ul id="messagesList" class="list-group"></ul>
                @* <p id="typingIndicator" style="display: none"></p> *@
            </div>
            <div class="col-md-4">
                <h3>Пользователи в сети</h3>
                <ul id="userList" class="list-group"></ul>
            </div>
        </div>
    </div>
    
    <div id="privateMessageModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border: 1px solid #ccc; box-shadow: 0 0 10px rgba(0,0,0,0.3);">
        <h4>Отправить приватное сообщение</h4>
        <div class="form-group">
            <label for="recipientInput">Получатель:</label>
            <input type="text" id="recipientInput" class="form-control" readonly />
            <input type="hidden" id="recipientInputId" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="privateMessageInput">Сообщение:</label>
            <input type="text" id="privateMessageInput" class="form-control" />
        </div>
        <button id="sendPrivateButton" class="btn btn-primary">Отправить</button>
        <button id="cancelPrivateButton" class="btn btn-secondary" onclick="document.getElementById('privateMessageModal').style.display = 'none';">Отмена</button>
    </div>
    
    <div id="WebRTCVoiceChatModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border: 1px solid #ccc; box-shadow: 0 0 10px rgba(0,0,0,0.3);">
        <div class="WebRTCVoiceChat">
            @* <button id="startCallBtn" class="btn btn-info">Начать звонок</button> *@
            <h1>Video Chat</h1>
            <video id="localVideo" autoplay playsinline muted></video>
            <video id="remoteVideo" autoplay playsinline></video>
            <button id="ExitCall" type="button" class="btn btn-danger" style="border-radius: 50%">Выйти</button>
        </div>
    </div>
    <div id="CallModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border: 1px solid #ccc; box-shadow: 0 0 10px rgba(0,0,0,0.3);">
        <div class="hstack gap-3">
            <button id="acceptCall" type="button" class="btn btn-success" style="border-radius: 50%">Принять</button>
            <button id="declineCall" type="button" class="btn btn-danger" style="border-radius: 50%">Отклонить</button>
        </div>
    </div>
   
}
else
{
    <div class="justify-content-center text-danger">
        <p>Для чата необходимо авторизироваться</p>
    </div>
}

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/microsoft/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.js"></script>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr-protocol-msgpack/7.0.5/signalr-protocol-msgpack.min.js"></script>
        
    <script src="~/js/chat.js"></script>
    
    @* <script src="js/WebRTC/permission.js"></script> *@
    <script src="js/WebRTC/webrtc.js"></script>
    @* <script src="js/WebRTC/voicechat.js"></script> *@


}
